.card{
    position: relative;
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
    height: auto;
    background: #fff;
    border-radius: 2px;

}
.card::before, .card::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .7);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.card::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
}
.card::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
}
.card:hover::before, .card:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, .4);
}
.card:hover::before {
    left: 5px;
}
.card:hover::after {
    right: 5px;
}
.wrapper{
    display: flex;
    flex-direction: column-reverse;
}
.title-wrap{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color:#EBEBEB;
}
.title-element{
    max-width: 370px;
    font-size: 1em;
    margin-top: 10px;
}
.discription-elem{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 370px;

}
.date{
    font-size: 15px;
    color: lightslategray;
}
/****** BTN *******/
.date-elem{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.date-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.del-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}
.del-btn{
    width: 70px;
	height: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
}
.del-btn, button span{
    transition: 200ms;
}
.del-btn .text{
    transform: translateX(5px);
	color: white;
    font-weight: bold;
    font-size: 0.7em;
}
.del-btn .icon{
    position: absolute;
	border-left: 1px solid #c41b1b;
	transform: translateX(50px);
	height: 10px;
	width: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.del-btn svg{
    width: 15px;
	fill: #eee;
}
.del-btn:hover{
	background: #ff3636;
}
.del-btn:hover .text{
    color: transparent;
}
.del-btn:hover .icon{
    width: 20px;
	border-left: none;
	transform: translateX(19px);
}
.del-btn:focus {
    outline: none;

}
.title-element{
    margin-left: 10px;
}



.similar-card-wrap {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.similar-card {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.similar-modal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.similar-car-title {
    font-size: 12px;
}

.similar-car-date {
    font-size: 12px;
}
/****** BTN *******/


.similar-cards{
    background-color: transparent;
    border-color: black;
    color: black;
    width: 222.5px;
    outline:none;
}

.similar-cards:hover{
    background-color: black;
    border-color: transparent;
    color: white;
}

.similar-cards:focus {
    box-shadow: none !important;
  
  }
  .similar-cards:active {
    box-shadow: none !important;
    outline: 0;
    background-color: transparent;
    border-color: black;
    color: black;
    outline:none;
  }